<mat-card>
  <div style="text-align: left">
    <mat-checkbox #abk>Suche nach Abkürzung</mat-checkbox><br>
    <mat-checkbox #name>Suche nach Name</mat-checkbox><br>
    <mat-checkbox #faecher>Suche nach Fächern(Kurzformen)</mat-checkbox><br>
    <mat-form-field>
        <input #input (keyup)="onKeyUp(input.value, abk.checked, name.checked, faecher.checked)" matInput placeholder="Suchen ....">
    </mat-form-field>
  </div>

    <ul *ngFor="let koll of foundKolls">
      <li>Abkürzung: {{ koll.abk }}</li>
      <li>Name: {{ koll.name }} </li>
      <li>Fächer: {{ koll.faecher }}</li>
    </ul>

</mat-card>

